.nameList {
  display: flex;
  flex-wrap: wrap;
}
.nameItem {
  margin: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 250px;
  border: 5px;
  border-color: black;
}
